main {
    display:flex;
    justify-content: center;
}
main #contenu{
    width: 80%;
}

main #contenu h1{
    text-align: center;
}
main form{
    background-color: rgb(207,52,0);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    padding: 2%;
    margin-bottom: 10%;
}
main form section{
    display: flex; 
    flex-direction: column;
    text-align: left;
    margin-top: 2%;
    
}
#créa_quiz{
    width: 70%;
    justify-content: center;
    justify-content: space-between;
    color : white;
}
main form section input[type="text"]{
    height: 30px;
    border-radius: 12px;
    border: 1px solid rgb(207,52,0);
    padding: 2px;
   
}
form section label{
    font-weight: bold;
}
 #theme {
    height: 30px;
    border:1px solid rgb(207,52,0);
    border-radius: 12px;
    padding: 1px;
    padding-left: 3%;
}
 #créa_quiz input[type="submit"]{
    display: flex;
   
    background-color: white;
    border-radius: 15px;
    border: 1px solid rgb(207,52,0);
    margin-top: 2%;
    justify-self: center;
    height: 25px;
    width: 20%;
    font-weight: 700;

}
#créa_quiz input[type="submit"]:hover{
    background-color: black;
    color: white;
}

#créa_quiz input[type="button"]{
    display: flex;
   
    background-color: white;
    border-radius: 15px;
    border: 1px solid rgb(207,52,0);
    margin-top: 10%;
    justify-self: center;
    height: 25px;
    width: 20%;
    font-weight: 700;

}
#créa_quiz input[type="button"]:hover{
    background-color: black;
    color: white;
}

@media (max-width: 450px) {
    main #contenu{
        width: 90%;
    } 
    form input[type="submit"]{
       min-width:  100px ;

    }
    form input[type="submit"]{
        min-width:  100px ;
 
     }
    input[type="text"]{
        height: 30px;
        padding: 2px;
    }

}
#logo img{
    display: flex;
    height: 150px;
    width: 150px;
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 12px;
}
